.top-navbar {
  overflow: hidden;
  background-color: #feb47b;
}

.top-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navbar a:hover {
  background-color: #351c4d;
  color: white;
}

.topnav a:active {
  background-color: #765285;
  color: white;
}

.current {
  background-color: #ff7e5f;
  color: white;
}

h1:hover, h1:focus {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    -ms-transform: rotate3d(179,0,10,360deg);
    -webkit-transform: rotate3d(179,0,10,360deg);
    -moz-transform: rotate3d(179,0,10,360deg);
    -o-transform: rotate3d(179,0,10,360deg);
    transform: rotate3d(179,0,10,360deg);
}

.page-header {
    background-image: url("fireworkBackground.gif");
}

.h4-color {
   color: #EE82EE;	
}

