.top-navbar {
  overflow: hidden;
  background-color: #ff7178;
}

.top-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navbar a:hover {
  background-color: #facdb9;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

h1:hover, h1:focus {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    -ms-transform: rotate3d(179,0,10,360deg);
    -webkit-transform: rotate3d(179,0,10,360deg);
    -moz-transform: rotate3d(179,0,10,360deg);
    -o-transform: rotate3d(179,0,10,360deg);
    transform: rotate3d(179,0,10,360deg);
}

